@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Per un futur sostenible</h1>
	<img src="img/image.png" class="img-fluid" alt="Responsive image">
</div>
